_build
/cover
/deps
erl_crash.dump
*.ez
/shadowsocks
shadowsocks.zip
config/config_prod.exs
.iex.exs
.drone.secrets.yml
*.env
.out
.tags
.git
.tool-versions
.autoenv*
.elixir_ls
ssl/
*.sh
.ctagsignore
docker-compose.yml
.tasks
